.content{
    background-color: #edeff3;
}

.vraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 5%;
}

.shop-box{
    width: 300px;
    height: 350px;
    margin-left: 30px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #edeff3;
}

.shop-box:hover{
    background-color: #696960;
}

.view{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.view img {
    max-width: 100%;
    max-height: 150%;
    margin-bottom: 10px;
}

.box-name-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #811515;
}

.show {display: block;}

.category{
    display: flex;
    margin: 10px;
    padding: 20px;
    justify-content: space-around;
}

.category-text{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
}
.category-text:hover{
    background-color: #696960;
    cursor: pointer;
}
.category-text a{
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: #811515;
}

.hide{
    display: none;
}







