@section Style{
    <link rel="stylesheet" href="~/css/Home.css">
}

@section Script
{
    <script src="lib/jquery/dist/jquery.min.js"></script>
}

<div class="image">
    <div class="main">
        <span class="main-logo">IliaskaDev</span>
        <span class="main-text">Play the best games on mobile phones</span>
    </div>
    <div class="text">
        <div class="text">
        </div>
    </div>
</div>