# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.IliaskaWebSite.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\smuglifriend\RiderProjects\IliaskaWebSite\.idea\.idea.IliaskaWebSite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
